@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Yeah we really care about your privacy and stuff, we are totally not going to collect data about you.</p>
